.App {
  background-color: #282c34;
}
.content {
  text-align: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 30px;
  max-width: 600px;
  margin: 0 auto;
}
.topnav {
  overflow: hidden;
}
.card {
  box-shadow: 2px 2px 12px 1px #39414d;
  background-color: #39414d;
  display: inline-block;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.card > * {
  margin: 20px 0;
}
.state {
  outline: none;
  width: min-content;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 25px;
  color: #282c34;
  border: none;
  border-radius: 5px;
}
.button {
  padding: 15px 50px;
  font-size: 24px;
  text-align: center;
  outline: none;
  color: #282c34;
  background-color: #abbcde;
  border: none;
  border-radius: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
 }
 /*.button:hover {background-color: #0f8b8d}*/
 .button:active {
   box-shadow: 2 2px #ccc;
   transform: translateY(2px);
 }